<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <span class="text-danger">i</span><span class="text-info">B</span><span class="text-warning">a</span><span class="text-success">y</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ path('products_index', {'category': '2', 'page': '1'}) }}">Automobile</a>
          <a class="dropdown-item" href="{{ path('products_index', {'category': '7', 'page': '1'}) }}">Bricolage</a>
          <a class="dropdown-item" href="{{ path('products_index', {'category': '9', 'page': '1'}) }}">Consoles</a>
          <a class="dropdown-item" href="{{ path('products_index', {'category': '4', 'page': '1'}) }}">Informatique</a>
          <a class="dropdown-item" href="{{ path('products_index', {'category': '8', 'page': '1'}) }}">Jeux-videos</a>
          <a class="dropdown-item" href="{{ path('products_index', {'category': '5', 'page': '1'}) }}">Meubles</a>
          <a class="dropdown-item" href="{{ path('products_index', {'category': '10', 'page': '1'}) }}">Sport</a>
          <a class="dropdown-item" href="{{ path('products_index', {'category': '3', 'page': '1'}) }}">Smartphones</a>
          <a class="dropdown-item" href="{{ path('products_index', {'category': '1', 'page': '1'}) }}">Vêtements</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- Message Flash -->
{% for label, messages in app.flashes %}
<!-- div class="container my-3" -->
    <div class="alert alert-{{label}} text-center">
      
        {% for message in messages %} 
            <p>
              <i class="
                  {% if label == 'success' %}
                    fas fa-check
                  {% elseif label == 'info' %}
                    far fa-lightbulb
                  {% elseif label == 'warning' %}
                    fas fa-exclamation-triangle
                  {% elseif label == 'danger' %}
                    far fa-times-circle
                  {% endif %} 
                  fa-lg mr-2"></i>
              {{ message }}
            </p>
        {% endfor %}
    </div>
<!-- /div -->
{% endfor %}